* {
    margin: 0;
    padding: 0;
}

body {
    height: 610px;
    font-family: 'Rajdhani', sans-serif;

}

#access-container {
    padding: 30px;
    text-align: justify;
}

#access-container h2 {
    font-weight: bold;
}

#access-container p {
    font-size: 16px;
}