
footer.site-footer.masks {
    background-color: #151515;
    color: #fff;
    font-family: "Graphik", Arial, Helvetica, sans-serif
}

footer.site-footer.masks aside.site-footer-bar {
    padding: 0
}

footer.site-footer.masks .bounded-content {
    display: flex;
    flex-direction: column
}

footer.site-footer.masks .site-footer-divider {
    display: none
}

footer.site-footer.masks .bounded-content {
    padding-bottom: 100px !important;
    padding-top: 100px !important;
    display: block;
    flex-direction: column
}

@media only screen and (min-width: 1024px) {
    footer.site-footer.masks .bounded-content {
        padding-bottom: 137px !important;
        padding-top: 146px !important
    }
}

@media only screen and (min-width: 768px) {
    footer.site-footer.masks .bounded-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: initial !important
    }
}

@media(max-width: 1024px) {
    footer.site-footer.masks .masks-footer-upper-section {
        flex-direction: column
    }
}

footer.site-footer.masks .site-footer-upper-section {
    margin: 0 !important
}

footer.site-footer.masks .site-footer-upper-section .site-footer-guarantee-logo {
    display: none !important
}

footer.site-footer.masks .site-footer-upper-section .site-footer-guarantee-container {
    display: block
}

@media(min-width: 768px) {
    footer.site-footer.masks .site-footer-upper-section .site-footer-guarantee-container {
        width: 50%
    }
}

footer.site-footer.masks .site-footer-upper-section .site-footer-guarantee-message {
    display: block;
    padding-right: 20px
}

footer.site-footer.masks .site-footer-upper-section .site-footer-guarantee-message p {
    color: #fff !important;
    margin: 0 0 20px 0 !important;
    padding: 0;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-align: left !important
}

footer.site-footer.masks .site-footer-upper-section .site-footer-guarantee-message p:first-child {
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.01em;
    font-size: 30px
}

footer.site-footer.masks .site-footer-upper-section .site-footer-guarantee-message p:last-child {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-bottom: 0 !important
}

footer.site-footer.masks .site-footer-upper-section .site-footer-locale-toggle-container .site-footer-locale-toggle {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    display: flex;
    padding: 0
}

footer.site-footer.masks .site-footer-upper-section .site-footer-locale-toggle-container .site-footer-locale-toggle img {
    box-sizing: content-box;
    height: 16px;
    width: 23px;
    padding: 0 !important
}

footer.site-footer.masks .site-footer-lower-section .site-footer-navigation {
    text-align: left
}

footer.site-footer.masks .site-footer-additional-links {
    text-align: left
}

footer.site-footer.masks .site-footer-navigation-item a,
footer.site-footer.masks .site-footer-additional-link a,
footer.site-footer.masks .site-footer-additional-link {
    color: #fff;
    text-decoration: none;
    margin-right: 8px
}

footer.full-footer ul {
    list-style-type: none;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 0
}

footer.full-footer .site-footer-full-width-container {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding-left: 0;
    width: 960px
}

@media only screen and (min-width: 1440px) {
    footer.full-footer .site-footer-full-width-container {
        width: 1268px
    }
}

@media only screen and (min-width: 768px)and (max-width: 1023px) {
    footer.full-footer .site-footer-full-width-container {
        width: 744px
    }
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-full-width-container {
        max-width: 100%;
        width: auto;
        padding-left: 4%;
        padding-right: 4%
    }
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-top {
        padding-bottom: 48px
    }
}

footer.full-footer .site-footer-right-section.site-footer-right-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0
}

footer.full-footer .site-footer-right-section.site-footer-right-section .site-footer-right-section-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px
}

footer.full-footer .site-footer-bottom {
    background: #000
}

footer.full-footer .site-footer-bar {
    background-color: #151515
}

footer.full-footer .site-footer-guarantee-logo {
    display: inline-block;
    margin-bottom: 24px
}

footer.full-footer .site-footer-guarantee-logo img {
    height: 32px
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-guarantee-logo {
        display: flex;
        margin-bottom: 16px
    }
}

footer.full-footer .site-footer-guarantee-message {
    color: #f8f8f8;
    display: inline-block
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-guarantee-message {
        display: flex;
        flex-direction: column
    }
}

footer.full-footer .site-footer-guarantee-message h3 {
    font-size: 1rem
}

footer.full-footer .site-footer-guarantee-message p {
    margin: 0;
    font-size: .778rem
}

footer.full-footer .site-footer-guarantee-message a {
    color: #fff;
    display: inline
}

footer.full-footer .site-footer-guarantee-container {
    margin-bottom: 24px
}

@media only screen and (min-width: 768px)and (max-width: 1023px) {
    footer.full-footer .site-footer-guarantee-container {
        margin-bottom: 0
    }
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-guarantee-container {
        margin-bottom: 0
    }

    footer.full-footer .site-footer-guarantee-container .site-footer-divider {
        display: none
    }
}

footer.full-footer .site-footer-referral-message {
    color: #fff;
    font-size: 14px
}

footer.full-footer .site-footer-divider {
    opacity: .2
}

footer.full-footer .site-footer-email-signup {
    align-items: center;
    display: flex;
    justify-content: flex-end
}

@media only screen and (max-width: 1023px) {
    footer.full-footer .site-footer-email-signup {
        justify-content: center
    }
}

footer.full-footer .input-with-placeholder::placeholder {
    color: #767676;
    font-style: normal
}

footer.full-footer .site-footer-locale-toggle-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 8px
}

footer.full-footer .site-footer-locale-toggle {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    display: flex;
    padding: 0
}

footer.full-footer .site-footer-locale-toggle img {
    box-sizing: content-box;
    height: 16px;
    width: 24px
}

footer.full-footer .site-footer-social-logo {
    display: inline-block;
    width: 20px
}

footer.full-footer .site-footer-payment-icons-container {
    margin-left: -8px;
    justify-content: flex-start
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-payment-icons-container {
        justify-content: center
    }
}

footer.full-footer .site-footer-payment-icon {
    display: inline;
    margin: 0 8px 16px;
    width: 40px
}

footer.full-footer .site-footer-payment-icon img {
    width: 100%
}

footer.full-footer .site-footer-social-logo:last-of-type {
    margin-right: 0
}

footer.full-footer .site-footer-award-zone {
    display: flex;
    flex-direction: column
}

@media only screen and (max-width: 1023px) {
    footer.full-footer .site-footer-award-zone {
        flex-direction: row;
        margin-top: 32px
    }
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-award-zone {
        margin-bottom: 48px
    }
}

footer.full-footer .site-footer-award-image {
    margin-right: 32px;
    margin-bottom: 32px
}

@media only screen and (min-width: 768px)and (max-width: 1023px) {
    footer.full-footer .site-footer-navigation {
        margin-top: -24px
    }
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-navigation {
        margin-left: 8px
    }
}

footer.full-footer .site-footer-navigation .swan-collapsible {
    margin: 0;
    background-color: rgba(0, 0, 0, 0)
}

@media only screen and (max-width: 1023px) {
    footer.full-footer .site-footer-navigation .swan-collapsible {
        border-bottom: 1px solid rgba(214, 220, 224, .2)
    }
}

footer.full-footer .site-footer-navigation .swan-collapsible-summary {
    border: none
}

footer.full-footer .site-footer-navigation .swan-collapsible-summary-button {
    border: none;
    padding: 0
}

footer.full-footer .site-footer-navigation .swan-collapsible-summary-button:after {
    background-image: none;
    display: none
}

footer.full-footer .site-footer-navigation .swan-collapsible-summary-button[aria-expanded=true] .swan-icon.swan-icon-skin-white {
    transform: scaleY(-1)
}

footer.full-footer .site-footer-navigation .swan-collapsible-content {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 0
}

@media only screen and (min-width: 1024px) {
    footer.full-footer .site-footer-navigation .swan-collapsible-content {
        display: block
    }
}

footer.full-footer .site-footer-navigation-header.link-list-heading.link-list-heading {
    color: #fff;
    margin-bottom: 24px
}

footer.full-footer li.site-footer-navigation-item a {
    color: #fff
}

footer.full-footer li.site-footer-navigation-item a:hover {
    color: #fff;
    text-decoration: underline
}

footer.full-footer li.site-footer-navigation-item a:focus {
    color: #fff;
    text-decoration: underline
}

@media only screen and (max-width: 1023px) {
    footer.full-footer .site-footer-navigation-header:first-child {
        margin-top: 24px
    }
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-additional-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap
    }
}

footer.full-footer .site-footer-copyright-notice {
    opacity: .6
}

@media only screen and (max-width: 767px) {
    footer.full-footer .site-footer-referral-message {
        margin-bottom: 0;
        border-bottom: 1px solid rgba(214, 220, 224, .2)
    }
}

footer.full-footer .site-footer-referral-message p {
    margin-bottom: 24px
}

@media only screen and (min-width: 768px)and (max-width: 1023px) {
    footer.full-footer .site-footer-referral-message p {
        margin-top: 24px;
        margin-bottom: 48px
    }
}

footer.full-footer .site-footer-copyright-notice,
footer.full-footer .site-footer-savings-message,
footer.full-footer .site-footer-referral-container {
    color: #fff
}

footer.full-footer .site-footer-savings-message,
footer.full-footer .site-footer-referral-container {
    text-align: right
}

@media only screen and (max-width: 1023px) {

    footer.full-footer .site-footer-savings-message,
    footer.full-footer .site-footer-referral-container {
        text-align: center
    }
}

footer.full-footer .site-footer-additional-link:last-child {
    margin-right: 0
}

footer.full-footer .site-footer-lower-navigation-bar {
    position: relative;
    color: #fff
}

@media only screen and (max-width: 1023px) {
    footer.full-footer .site-footer-lower-navigation-bar {
        margin-top: 0
    }
}

footer.full-footer .site-footer-lower-navigation-bar .row {
    display: flex
}

footer.full-footer .site-footer-navigation-menu {
    margin: 0;
    padding-bottom: 32px;
    padding-right: 32px
}

@media only screen and (max-width: 1023px) {
    footer.full-footer .site-footer-lower-left {
        order: 2
    }
}

footer.full-footer .site-footer-lower-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

footer.full-footer .site-footer-lower-message-section {
    color: #fff;
    opacity: .6
}

.country-selector-stylized-dialog .swan-modal-dialog {
    max-width: none
}

@media only screen and (max-width: 767px) {
    .country-selector-stylized-dialog .swan-modal-dialog {
        margin-bottom: 0;
        max-width: none;
        padding: 0 12px 12px;
        padding-bottom: 0;
        width: 100vw
    }
}

@media only screen and (min-width: 768px) {
    .country-selector-stylized-dialog .swan-modal-dialog {
        max-width: 95vw
    }
}

.country-selector-stylized-dialog .swan-modal-dialog .swan-modal-dialog-header {
    margin-bottom: 12px;
    padding-bottom: 0;
    text-align: left
}

@media only screen and (min-width: 768px) {
    .country-selector-stylized-dialog .swan-modal-dialog .swan-modal-dialog-header {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    .country-selector-stylized-dialog .swan-modal-dialog .swan-modal-dialog-header {
        margin-left: -12px;
        margin-right: -12px;
        margin-top: 16px;
        padding: 8px 40px 12px 12px;
        top: 0
    }
}

.country-selector-container {
    columns: 3;
    margin-top: 0;
    margin-bottom: 0
}

@media only screen and (max-width: 767px) {
    .country-selector-container {
        columns: 1
    }
}

.country-selector-arrow {
    cursor: pointer
}

.country-selector-country {
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0
}

.country-selector-item {
    align-items: baseline;
    display: flex;
    white-space: nowrap
}

.country-selector-item:last-of-type {
    margin-bottom: 0
}

@media only screen and (max-width: 767px) {
    .country-selector-item:last-of-type {
        margin-bottom: 12px
    }
}

.country-selector-item .country-selector-flag-image-container {
    display: inline-block;
    margin-right: 16px;
    min-width: 24px;
    vertical-align: middle
}

.country-selector-item .country-selector-flag-image-container img {
    border: 1px solid #dfdfdf;
    height: 16px;
    width: 24px
}

.country-selector-alternate-language {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0
}
.site-footer-additional-links li a{
    color: white;
}